#customer-container{
    overflow: auto;
    
    max-height: calc(100vh);
    width: 100%;
    background-color: aqua;
    display: flex;
}

#customer-container .link-button{
    text-decoration: none;
    color: white;
    /* border: 1px solid black; */
    padding: 10px;
    border-radius:10px ;
    background-color: rgb(54, 54, 54);
    box-shadow: rgb(97, 92, 92) 0px 0px 4px 2px;
}

#customer-container .link-button:hover{
    box-shadow: rgb(97, 92, 92) 0px 0px 10px 4px;
    transition: 500ms;
}